.flag-holder {
  --flag-gap: 4px;
  --flag-height: 163px;
  position: relative;
  height: var(--flag-height);
  margin: 20px auto 0;
  display: inline-flex;

  &.__win {
    --flag-gap: 0;
  }
}

.flag {
  display: block;
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  visibility: hidden;
}

.flag-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grid {
  display: grid;
  gap: var(--flag-gap);
  height: 100%;
  width: 100%;
}

.cell {
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}

.animate {
  .cell .front,
  .cell .back {
    transition: transform 0.6s;
  }
}

.cell .front,
.cell .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.cell .front {
  background-repeat: no-repeat;
}

.cell .back {
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  border: 1px solid #ccc;
}

.cell.flipped .front {
  transform: rotateY(180deg);
}

.cell.flipped .back {
  transform: rotateY(0);
}
