:root {
  --app-scroll-size: 6px;
  --app-width: 600px;
  --app-bg-color: #fff;
  --search-bg-color: rgb(255 255 255 / 50%);
  --text-main-color: #061b29;
  --text-white-color: #fff;
  --text-white-color-dark: #f8fbfd;
  --text-black-color: #141518;
  --text-red-color: #f00;
  --text-rose-color: #ab6976;
  --text-green-color: #00ab35;
  --text-green-light-color: rgb(0 171 53 / 35%);
  --text-blue-color: linear-gradient(180deg, #4f6bff 10%, #2c63dd 100%);
  --text-blue-color-light: rgb(65 104 241 / 10%);
  --btn-blue-hover: #c0d0f3;
  --btn-darkblue-hover: linear-gradient(180deg, #3c58eb 10%, #1d51c4 100%);
  --btn-green-bg: #0fbb50;
  --btn-blue-text: #0e3751;
  --btn-blue-bg: #dae6ff;
  --btn-blue-border: 1px solid #eaeff1;
  --btn-gray-bg-dark: #dcdfee;
  --btn-gray-bg: #dcdfee;
  --btn-gray-bg-light: #eff2ff;
  --btn-gray-border: #e1e7f3;
  --btn-gray-border-light: #d5e0e7;
  --btn-gray-color: #536068;
  --autocomplete-bg: #fff;
  --autocomplete-border: transparent;
  --autocomplete-hover-bg: #eef1f3;
  --autocomplete-result-text: #477eea;
  --flag-color: #dee3e9;
}

$text-main-color: var(--text-main-color);
$app-bg-color: var(--app-bg-color);
$text-main-color: var(--text-main-color);
$text-white-color: var(--text-white-color);
$text-white-color-dark: var(--text-white-color-dark);
$text-black-color: var(--text-black-color);
$text-red-color: var(--text-red-color);
$text-rose-color: var(--text-rose-color);
$text-green-color: var(--text-green-color);
$text-green-light-color: var(--text-green-light-color);
$text-blue-color: var(--text-blue-color);
$text-blue-color-light: var(--text-blue-color-light);
$btn-blue-hover: var(--btn-blue-hover);
$btn-darkblue-hover: var(--btn-darkblue-hover);
$btn-green-bg: var(--btn-green-bg);
$btn-blue-text: var(--btn-blue-text);
$btn-blue-bg: var(--btn-blue-bg);
$btn-blue-border: var(--btn-blue-border);
$btn-gray-bg-dark: var(--btn-gray-bg-dark);
$btn-gray-bg: var(--btn-gray-bg);
$btn-gray-bg-light: var(--btn-gray-bg-light);
$btn-gray-border: var(--btn-gray-border);
$btn-gray-border-light: var(--btn-gray-border-light);
$btn-gray-color: var(--btn-gray-color);
$autocomplete-bg: var(--autocomplete-bg);
$autocomplete-border: var(--autocomplete-border);
$autocomplete-hover-bg: var(--autocomplete-hover-bg);
$autocomplete-result-text: var(--autocomplete-result-text);

.dark:root {
  --app-bg-color: #0d1c3e;
  --search-bg-color: rgb(4 14 34 / 70%);
  --text-main-color: #fff;
  --text-white-color: #fff;
  --text-white-color-dark: #384571;
  --text-black-color: #fff;
  --text-red-color: red;
  --text-rose-color: #b96675;
  --text-green-color: #3bb566;
  --text-green-light-color: rgb(59 181 102 / 60%);
  --text-blue-color: linear-gradient(180deg, #374fce 10%, #1e51c2 100%);
  --text-blue-color-light: rgb(38 54 110);
  --btn-blue-hover: #2a49ae;
  --btn-darkblue-hover: linear-gradient(180deg, #445cdd 10%, #3366d6 100%);
  --btn-green-bg: #0fbb50;
  --btn-blue-text: #f3f6f9;
  --btn-blue-bg: #2c4185;
  --btn-blue-border: 1px solid #506b7c;
  --btn-gray-bg-dark: #3f4c79;
  --btn-gray-bg: #2e3b65;
  --btn-gray-bg-light: #232e51;
  --btn-gray-border: #3a4565;
  --btn-gray-border-light: #3d5c72;
  --btn-gray-color: #536068;
  --autocomplete-bg: #1c2e54;
  --autocomplete-border: #3a4660;
  --autocomplete-hover-bg: #3b4865;
  --autocomplete-result-text: #fff;
  --flag-color: #46526c;
}
